body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

#content {
    min-height: 500px;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
}

#parser-loader {
    height: 100px;
    width: 100px;
    display: none;
}

#data {
    display: none;
}

#sidebar {
    width: 330px;
}
#reports-grid_ccheck input {
    margin: 0;
}
